doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    // WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi')
    title XBIT
    link(rel='stylesheet' href='/app.css')
    script(src='/vendor.js')
    script(src='/app.js')
    script.
      require('initialize');
  body
    nav.xbt-Navigation
      p.xbt-MobileMenu_Show
        span(data-menu="menu-mobile") MENU
      ul.xbt-NavigationList
        li.xbt-Navigation_Item.active
          a(href="#") Seccion 1
        li.xbt-Navigation_Item
          a(href="#") Seccion 2
        li.xbt-Navigation_Item
          a(href="#") Seccion 3
        li.xbt-Navigation_Item
          a(href="#") Seccion 4
    section.xbt-HeroBanner        
      video(class="xbt-HeroBanner_Video" loop='', muted='', autoplay='', poster='img/hero_bg.jpg')
        //- source(src='video/big_buck_bunny.webm', type='video/webm')
        source(src='video/vr.mp4', type='video/mp4')
        //- source(src='video/big_buck_bunny.ogv', type='video/ogg')
      
      include share_block
      
      .xbt-MainSSSSS
        img.xbt-MainLogo(src='../images/logo.png')
        
        .xbt-HeroHeading
          span Digital Signage
          span Realidad Virtual
          span Archviz
          span Diseño
          span Tecnología

      a(class="xbt-Arrow-down" href="#first-section")

    section.xbt-Section-one
      .xbt-TextWrapper-block
        h1 Asesoramiento Personalizado
        p Desde el primer dia XBIT entrega un asesoramiento personalizado, con personal cualificado y vasta experiencia en sistemas de Digital Signage el cual les brindará la mejor solución a sus necesidades.

    section.xbt-Section-two
      .text-block
        h1 Asesoramiento Personalizado
        p Desde el primer dia XBIT entrega un asesoramiento personalizado, con personal cualificado y vasta experiencia en sistemas de Digital Signage el cual les brindará la mejor solución a sus necesidades.


    section.xbt-Section-three
      .xbt-TextWrapper-block
        h1 Asesoramiento Personalizado
        p Desde el primer dia XBIT entrega un asesoramiento personalizado, con personal cualificado y vasta experiencia en sistemas de Digital Signage el cual les brindará la mejor solución a sus necesidades.

    footer
      p Dirección del negocio
      p 1234123412341
      p.xtb-Copyright Copyright 2016 XBIT. All rights reserved.
